---
import "../styles/global.css";
import { AstroFont } from "astro-font";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>de.list</title>
  </head>
  <body class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-6xl font-bold mt-0 pt-0">de.list</h1>

    <div class="flex flex-col gap-2 mt-16 w-full max-w-md px-4">
      <form class="flex flex-col gap-2">
        <input type="email" placeholder="email" class="bg-transparent border-b-2 text-3xl outline-none border-none subtitle" />
        <input type="password" placeholder="password" class="bg-transparent border-b-2 text-3xl outline-none border-none subtitle" />
        <input
          type="password"
          placeholder="confirm password"
          class="bg-transparent border-b-2 text-3xl outline-none border-none subtitle"
        />
        <div class="flex justify-between items-center mt-2">
          <button type="button" class="navbar text-2xl"><a href="/login">already have an account?</a></button>
        </div>
        <button type="button" class="button mt-6 text-2xl">sign up with google</button>
        <div class="flex justify-center">--------------------------------------------</div>
        <button type="submit" class="button mt-2 text-2xl font-bold">sign up</button>
      </form>
    </div>
  </body>
</html>
