@import "tailwindcss";

@font-face {
  font-family: "TitlesFont";
  src: url("/titles.ttf") format("truetype");
}

@font-face {
  font-family: "NavbarFont";
  src: url("/navbar.ttf") format("truetype");
}

@font-face {
  font-family: "SubtitlesFont";
  src: url("/subtitles.ttf") format("truetype");
}

@font-face {
  font-family: "ButtonsFont";
  src: url("/buttons.ttf") format("truetype");
}

:root {
  background-color: #feebf6;
  color: #687fe5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "TitlesFont", sans-serif;
}

nav {
  font-family: "NavbarFont", sans-serif;
}

.subtitle {
  font-family: "SubtitlesFont", sans-serif;
}

.button {
  font-family: "ButtonsFont", sans-serif;
}

.navbar {
  font-family: "NavbarFont", sans-serif;
}
